<%- include('components/header.ejs', {title:'Contact'}) %>
<header class="intro-header" style="background-image: url('/img/post-bg.jpg')">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="page-heading">
                    <h1>New Post</h1>
                    <hr class="small">
                    <span class="subheading">What do you want to share with us?</span>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <form method="post" action="/sample">
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Title</label>
                        <input type="text" class="form-control" placeholder="Title" name="title" required data-validation-required-message="Please enter the title.">
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Subtitle</label>
                        <input type="text" class="form-control" placeholder="Subtitle" name="subtitle">
                    </div>
                </div>
                <div class="row control-group">
                    <div class="form-group col-xs-12 floating-label-form-group controls">
                        <label>Author</label>
                        <input type="text" class="form-control" placeholder="Author" name="author">
                    </div>
                </div>
                <div class="row control-group">
                    <div class="from-group col-xs-12 floating-label-form-group controls">
                        <label>Content</label>
                        <textarea rows="10" class="form-control" placeholder="Content" name="content" required
                                  data-validation-required-mesasge="Please enter a content."></textarea>
                        <p class="help-block text-danger"></p>
                    </div>
                </div>
                <br>
                <div id="success"></div>
                <div class="row">
                    <div class="form-group col-xs-12">
                        <button type="submit" class="btn btn-default">Save</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<%- include components/footer %>
<!--
<script>
    $('#submit').on('click', function() {
        console.log('123123123');
        var title = $('#title').val();
        var subtitle = $('#subtitle').val();
        var content = $('#content').val();
        if (title === "" || content === "") {
            alert('Not a valid message');
            return;
        }
        $.post("/sample", {title: title, subtitle: subtitle, author: 'Yunting Hou', content: content});
    })
</script>
-->