<%- include('components/header.ejs', {title:'Cx Home'}) %>
    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('/img/home-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="site-heading">
                        <h1>HYT Blog</h1>
                        <hr class="small">
                        <span class="subheading">Something I eager to share</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
<!-- Main Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
            <% posts.forEach(function(post) { %>
                <%- include('components/post-content', { post: post })%>
            <% }) %>
            <!-- Pager -->
            <div class="text-center">
                <%- include('components/pager',{page: page, maxCount: maxCount}) %>
            </div>
        </div>
    </div>
</div>


<%- include components/footer.ejs %>
